






<html>
    <head>
        <style>
        body {
          background-image: url("assets/images/food1.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: 100% 100%
        }
    </style>
</head>
<body>
    
    
    
    
    


<br>
<br>
<!---
<img class ="food1"
src="assets\images\food1.jpg" alt=" " width="1300" height="400">
-->



<h1 style="text-align:center;color:red;font-size: 30px">Here is your Calorie Tracker! </h1>

<div>
    
    <h2 style="text-align:center"><input type="text"[(ngModel)]="searchItem"></h2>
    <h3 style="text-align:center;"> <button (click)="getCalApi()">Get Nutritional values</button></h3>

</div>
<table border="2px" width="100%" style="background-color:hotpink;color:black">

    <tr>
        <td> Name</td>


        <td> Calories</td>
        <td>Fiber</td>
        <td>Carbohydrates</td>
        <td>Sodium</td>
        <td>Fat</td>
        <td>SaturatedFat</td>
        <td>ServingSize</td>
        <td>Potassium</td>
        <td>Protein</td>
        <td>Cholesterol</td>
        <td>Sugar</td>
        

        
    </tr>
    <tr>
        <td>{{cal.name}}</td>
        <td>{{cal.calories}}</td>
        <td>{{cal.fiber_g}}</td>
        <td>{{cal.carbohydrates_total_g}}</td>
        <td>{{cal.cholesterol_mg}}</td>
        <td>{{cal.sodium_mg}}</td>
        <td>{{cal.sugar_g}}</td>
        <td>{{cal.protein_g}}</td>
        <td>{{cal.serving_size_g}}</td>
        <td>{{cal.fat_saturated_g}}</td>
        <td>{{cal.fat_total_g}}</td>
        <td>{{cal.potassium_mg}}</td>

    </tr>
</table>

